<h2 style="margin: 20px 0; text-align: center;">Student Dashboard</h2>

<p *ngIf="errorMessage" style="color: red; text-align: center;">
  {{ errorMessage }}
</p>

<div *ngIf="!errorMessage">

  <h3 style="margin-left: 20px;">Available Courses:</h3>

  <p *ngIf="loading" style="margin-left: 20px; color: gray;">
    Loading courses...
  </p>

  <ul *ngIf="!loading">
    <li *ngFor="let c of courses" style="margin-bottom: 10px;">
      <strong>{{ c.title }}</strong> — {{ c.description }}

      <button
        (click)="enroll(c.id)"
        [disabled]="isCourseEnrolled(c.id)"
        style="margin-left: 10px; padding: 4px 10px;"
      >
        {{ isCourseEnrolled(c.id) ? 'Enrolled' : 'Enroll' }}
      </button>
    </li>
  </ul>

  <p *ngIf="!loading && courses.length === 0" style="margin-left: 20px;">
    No courses available.
  </p>

  <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)"
      showFirstLastButtons>
  </mat-paginator>

</div>
